.header img {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0 auto;
  }
  
  .header h1 {
      position: absolute;
      top: 50px;
      margin-left: 5%;
      color: white;
      opacity: 80%;
    }
    h1 {
      margin-left: 5%;
    }